services:
  postgres-db:
    image: postgres:17-alpine
    container_name: postgres-container
    restart: always
    environment:
      POSTGRES_USER: booklending
      POSTGRES_PASSWORD: booklending@123
      POSTGRES_DB: booklending
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres_data: