server:
  port: 9090

app:
  jwt:
    secret: MTIzNDU2Nzg5MEFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaMDEyMzQ1Njc=
    expiration: 1800000

spring:
  application:
    name: demandlane-booklending

  datasource:
    username: booklending
    password: booklending@123
    url: jdbc:postgresql://localhost:5432/booklending

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /docs
    operations-sorter: alpha
  api-docs:
    path: /api-docs


management:
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      base-path: /actuator
      path-mapping:
        health: /health
        metrics: /metrics
        prometheus: /prometheus
      exposure:
        include: health, metrics, prometheus
  health:
    ping:
      enabled: false
    diskspace:
      enabled: false
    db:
      enabled: false

logging:
  file:
    name: logs/app.log
  level:
    root: info
    org.springframework: info
    com.demandlane.booklending: debug