<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">


    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/app.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-ROLLING-TIME-BASED" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <!-- <maxFileSize>5KB</maxFileSize>  -->
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>99MB</totalSizeCap>
            <!-- 60 days to keep -->
            <!-- <maxHistory>20</maxHistory> -->
        </rollingPolicy>

        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%5p] [%-20.20t] %m%n</pattern>
        </encoder>
    </appender>


    <logger name="com.demandlane" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING-TIME-BASED"/>
    </logger>


    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING-TIME-BASED"/>
    </root>


</configuration>